//Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup.
Убедитесь, что также проигнорированы файлы (Thumbs.db и .DS_Store).

*.db
/tmp
*.DS_Store
*_old
*_backup